<template>
    <section>
        <section class="bg h-sm flex place-items-center place-content-center text-white text-center">
            <div>
                <h2 class="text-second">INVENTORY</h2>
                <div class="btn mt">An independent solution provider</div>
            </div>
        </section>
        <section>
            <div class="w-2xl ma">
                <div class="text-center w-sm ma">
                    <h2 class="text-primary pt-12 text-6 font-500">OUR STOCK</h2>
                    <p class="py-4 text-th text-1">
                        We would love to help you find that particular electronic component you are looking for. We have
                        more than 1 Billion electronic parts in stock that consist of over 50.000 different part numbers.
                        All ready to ship
                    </p>
                </div>
                <div>
                    <HInput />
                </div>
                <div>
                    <h3 class="text-primary py-8 font-500">STORAGE MANAGEMENT</h3>
                    <div>
                        <div>
                            <img src="@/assets/services/services.png" alt="">
                        </div>
                        <div>
                            <span v-for="item of smList" :key="item.id">{{ item.label }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="my-8">
        <section>
            <div>
                <div class="w-2xl ma text-center">
                    <h3 class="text-primary font-500">INVENTORY MANAGEMENT</h3>
                    <span class="text-1">Provide inventory management to reduce your losses</span>
                </div>
                <div class="flex justify-center flex-items-center pt-16">
                    <div class="pr-20">
                        <img src="" alt="" class="circle">
                    </div>
                    <div class="w-xl">
                        <h4>Provide excess inventory management to reduce your losses</h4>
                        <p class="py-4">
                            OEMs can often find themselves in a situation where they have excess stock, they can no longer
                            use
                            that is taking up space and incurring storage costs.
                            Actstone can help you turn your excess inventory into cash. Whether you need to liquidate
                            end-of-life products or manage slow-moving inventory, we provides a number of solutions
                        </p>
                        <div class="py-4">
                            <h5 class="mb-2"> we can help your business achieve the below:</h5>
                            <div class="text-th grid gap-1">
                                <p>Increased revenue for your business</p>
                                <p>Free up vital warehouse space</p>
                                <p>Minimise your stockholding costs</p>
                            </div>
                        </div>
                        <div class="py-4">
                            <h5 class="text-second mb-1">Lot Buy:</h5>
                            <p class="text-th">This solution is for customers that would like to sell their entire excess
                                inventory at once
                                and remove the product from their books, warehouse etc.</p>
                        </div>
                        <div class="py-4">
                            <h5 class="text-second mb-1">Consignment inventory:</h5>
                            <p class="text-th">You can send us a list of the products you want to sell.We would promote the
                                product through
                                the tens of thousands of customers in our database</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="my-8">
        <section class="flex justify-center mb-8">
            <div class="w-xl">
                <p class="w-sm text-th">You can contact us using the form below to find out how we can support your
                    obsolescence strategy.</p>
                <div class="grid gap-2 text-th my-2">
                    <div>
                        <div>
                            <label> Name </label>
                        </div>
                        <input type="text">
                    </div>
                    <div>
                        <div>
                            <label> Company </label>
                        </div>
                        <input type="text">
                    </div>
                    <div>
                        <div>
                            <label> Phone </label>
                        </div>
                        <input type="text">
                    </div>
                    <div>
                        <div>
                            <label> Email </label>
                        </div>
                        <input type="text">
                    </div>
                    <div>
                        <input type="file">
                    </div>
                    <div>
                        <HButton>Submit</HButton>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="text-th mb-1">Your Message</h6>
                <div class="flex mb-1">
                    <textarea rows="6" cols="33"></textarea>
                </div>
                <p class="text-th mb-1">Contact our excess team through the form or email us directly at:</p>
                <div>
                    xxxxxxxxxxxxxxx@qq.com
                </div>
            </div>
        </section>
    </section>
</template>
<script setup lang="ts">
interface SMItem {
    id: number;
    label: string;
}
const smList: SMItem[] = [
    {
        id: 1,
        label: 'Check the damaged outer packing of incoming goods'
    },
    {
        id: 2,
        label: 'Lable / Parts No./Qty inspection'
    },
    {
        id: 3,
        label: 'IC / Top marking inspection'
    },
    {
        id: 4,
        label: 'Electronic test '
    },
    {
        id: 5,
        label: 'ESD/MSL factory-sealed package'
    }
]
</script>
<style scoped>
.bg {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #ccc;
}

p {
    font-size: 12px;
}
</style>