<template>
    <section>
        <!-- 背景 -->
        <HBg></HBg>
        <!-- 表单 -->
        <section class="flex justify-center">
            <div>
                <div class="flex px-12 pt-8 mt-12 shadow text-th">
                <div>
                    <h3 class="font-500 mb-4">CONTACK US</h3>
                    <!-- name -->
                    <section class="grid gap-4">
                        <div class="grid gap-4">
                            <label for="NAME" class="require">NAME</label>
                            <input type="text">
                        </div>
                        <div class="grid gap-4">
                            <label for="E-MAIL" class="require">E-MAIL</label>
                            <input type="text">
                        </div>
                        <div class="grid gap-4">
                            <label for="MESSAGE" class="require">MESSAGE</label>
                            <input type="text">
                        </div>
                        <div class="grid gap-4">
                            <label for="file">Upload an image or file</label>
                            <input type="file">
                        </div>
                        <div class="grid gap-4">
                            <label for="file">Upload an image or file</label>
                            <input type="text">
                        </div>
                        <div>
                            <button class="submit">SUBMIT</button>
                        </div>
                    </section>
                </div>
                <div>
                    <div class="link text-white px-8 py-4 w-sm translate-x c-shadow">
                        <h3 class="pb-6">ACTSTONE ELECTRONICS</h3>
                        <div class="grid gap-6">
                            <div v-for="item of aeList" :key="item.id" class="flex items-center gap-2">
                                <svg class="icon-size">
                                    <use :href="item.icon"></use>
                                </svg>
                                <span>{{ item.content }}</span>
                             </div>
                        </div>
                    </div>
                    <div class="w-sm img-translate-x mt-8">
                        <img src="@/assets/contact/map.png" alt="">
                    </div>
                </div>
            </div>
            <div class="w-sm text-th text-1 pl-12 my-4">
                <p>We needs the contact information you provide us to contact you about our products and services </p>
            </div>
            </div>

        </section>
    </section>
</template>
<script lang="ts" setup>
interface AEItem {
    id: number;
    content: string;
    icon: string;
}
const aeList: AEItem[] = [
    {
        id: 1,
        content: '+0086-755-23900665',
        icon: '#phone-call'
    },
    {
        id: 1,
        content: 'sales@atsele.com',
        icon: '#send-email'
    },
    {
        id: 1,
        content: '817 Room, GuoLi Building,ZhongHang RD, Futian Dis, ShenZhen,GD,China',
        icon: '#local-a121d849'
    }
]
</script>
<style scoped>
.bg {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-size {
    height: 1.5rem;
    width: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
}

.c-shadow {
    box-shadow: 12px 10px 7px #999;
}

.translate-x {
    transform: translateX(25%);
}

.img-translate-x {
    transform: translateX(40%);
}

.link {
    background-color: #008D91;
}

.submit {
    all: unset;
    background-color: #999;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

/* 必填提示 */
.require::before {
    content: '*';
    color: red;
}

</style>