<template>
  <main>
    <div class="fixed" style="z-index: 100;">
      <HHeader></HHeader>
    </div>
    <NuxtPage />
    <HFooter></HFooter>
  </main>
</template>
<style>
html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

* {
  margin: 0;
}

.iconpark-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* 全局 */
li {
  list-style: none;
}

a {
  all: unset;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
</style>