<template>
    <section class="bf py-8 pt-20">
        <!-- 标题 -->
        <header class="text-center">
            <h2>Business Features</h2>
        </header>
        <!-- 内容 -->
        <div class="w-sm ma guide-line lg:w-6xl py-8">
            <div v-for="(item, index) in businessFeatures" :key="item.id" :data-index="index + 1" class="flex p-4 ml-8 relative dashed-line circle">
                 <h3 class="flex-1 font-500">{{ item.title }}</h3>
                 <p class="flex-1">
                    <span v-for="(ic,index) in item.content" :key="index">
                        {{ ic }}
                    </span>
                 </p>
            </div>
        </div>
    </section>
</template>
<script setup lang="ts">
interface BFItem {
    id: number;
    title: string;
    content: string[]
}
const businessFeatures: BFItem[] = [
    {
        id: 1,
        title: 'Design-in products selection assistance serviDesign-in products selection assistance servicece.',
        content: ['Provide authorized product cost reduction alternative material selection;',
            'Assist to complete the design, testing, verification and optimization of product solutions', 'Provide sample application as required;']
    },
    {
        id: 2,
        title: 'Design-in products selection assistance service.',
        content: ['Provide authorized product cost reduction alternative material selection;',
            'Assist to complete the design, testing, verification and optimization of product solutions', 'Provide sample application as required;']
    },
    {
        id: 3,
        title: 'Design-in products selection assistance service.',
        content: ['Provide authorized product cost reduction alternative material selection;',
            'Assist to complete the design, testing, verification and optimization of product solutions', 'Provide sample application as required;']
    },
    {
        id: 4,
        title: 'Design-in products selection assistance service.',
        content: ['Provide authorized product cost reduction alternative material selection;',
            'Assist to complete the design, testing, verification and optimization of product solutions', 'Provide sample application as required;']
    },
    {
        id: 5,
        title: 'Design-in products selection assistance service.',
        content: ['Provide authorized product cost reduction alternative material selection;',
            'Assist to complete the design, testing, verification and optimization of product solutions', 'Provide sample application as required;']
    }
]
</script>
<style scoped>
.guide-line {
    border-left: 2px solid rgb(0 136 144);;
}

.dashed-line {
    border-bottom: 1px dashed #ccc;
}

.circle::before {
    content: attr( data-index );
    position: absolute;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 12px;
    left: -2rem;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
}

.guide-line > div:nth-of-type(2)::before {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.guide-line > div:last-of-type {
    border: none;
}

.bf h3 {
    font-size: 1rem;
}
</style>