<template>
    <section>
        <!-- 简介 -->
        <section class="bg h-sm flex place-items-center place-content-center text-white text-center">
            <div>
                <h2 class="font-thin">GLOBAL SOURCING</h2>
                <div class="btn text-second mt">Reimagine supply chains</div>
            </div>
        </section>
        <section>
            <article class="py-12 w-sm ma lg:w-6xl">
                <header class="text-center pb-12">
                    <h2 class="pb-4 font-500">COMPONENTS  SOURCING</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                </header>
                <div>
                    <p>
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                        There has been a lot of publicity recently about the problems cThere has been a lot of publicity recently about the problems c
                    </p>
                </div>
            </article>
        </section>
        <section class=" w-sm ma lg:w-6xl">
            <h2 class="pb-4">Our Competitive Edge</h2>
            <div class="grid gap-12 h-md" style="grid-template-columns: 1fr 2fr;">
                <div class="flex-1">
                    <ul class="grid gap-4 text-four">
                        <li>All components that are procured without a manufacturer C ofAll components that
                             are procured without a manufacturer C ofAll components that are procured without a manufacturer C of </li>
                        <li>All components that are procured without a manufacturer C of </li>
                        <li>All components that are procured without a manufacturer C of </li>
                        <li>All components that are procured without a manufacturer C of </li>
                        <li>All components that are procured without a manufacturer C of </li>
                        <li>All components that are procured without a manufacturer C of </li>
                        <li>All components that are procured without a manufacturer C of </li>
                    </ul>
                </div>
                <div class="">
                    <img style="width: 100%;height: 100%;" src="@/assets/about/about.png" alt="">
                </div>
            </div>
        </section>
        <!-- Business Features -->
        <businessFeatures class="BF"></businessFeatures>
        <section class="reputation flex flex-justify-center mb-12 pt-12">
            <div>
                <h2 class="text-center pb-12 text-second">Advantage Distribution</h2>
                <TheSwiperForReputation style="height: 50px">
                    <template v-for="item of reputations" :key="item.id">
                        <div class="swiper-slide c-s-line text-center">
                            <img :src="item.src" alt="" style="width: 100px;height: 50px">
                        </div>
                    </template>
                </TheSwiperForReputation>
            </div>
        </section>
    </section>
</template>
<script setup lang="ts">
import businessFeatures from './business-features.vue';
const reputations = [
    {
        id: 1,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 2,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 3,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 4,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 5,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 6,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    }
]
</script>
<style scoped>
.bg {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

ul {
    padding-left: 0;
}

li {
    position: relative;
    text-indent: 1.5rem;
}

li::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    clip-path: circle();
    background-color: black;
    top: 0.4rem;
    left: 0;
}

.bf {
    box-shadow: 0 16px 20px #ccc;
}
</style>