<template>
    <nav ref="el">
        <!-- pc下的菜单 -->
        <section class="flex flex-items-center flex-justify-between px-4 lg:px20">
            <ul class="hidden md:flex gap-8">
                <template v-for="item of navList" :key="item.id">
                    <TheMenuItem :title="item.label" :children="item.children" :to="item.to"></TheMenuItem>
                </template>
            </ul>
            <!-- 展开按钮 -->
            <section class="sm:hidden">
                <svg class="iconpark-icon" @click="switchIcon">
                    <use :href="icon"></use>
                </svg>
            </section>
        </section>
        <!-- 移动端下的菜单 -->
        <section class="sm:hidden absolute left-0 h-0 bg-blue ani-nav overflow-hidden">
            <ul class="w-screen gird gap-8">
                <template v-for="item of navList" :key="item.id">
                    <li>
                        <NuxtLink :to="item.to">{{ item.label }}</NuxtLink>
                    </li>
                </template>
            </ul>
        </section>
    </nav>
</template>
<script setup lang="ts">
import { gsap } from "gsap";
import { NuxtLinkProps } from "nuxt/dist/app/components";
import { ref, shallowRef, onMounted } from "vue";
import TheMenuItem from "./item.vue";
defineOptions({
    name: "HMenus"
})
interface NavItem extends NuxtLinkProps {
    id: number;
    label: string;
    children?: NavItem[]
}
const navList: NavItem[] = [
    {
        id: 1,
        label: "Home",
        to: "/home",
    },
    {
        id: 2,
        label: "About",
        to: "/about",
    },
    {
        id: 3,
        label: "Services",
        children: [
            {
                id: 31,
                label: 'COMPONENTS  SOURCING',
                to: "/services",
            },
            {
                id: 31,
                label: 'INVENTORY',
                to: "/services/inventory",
            },
            {
                id: 31,
                label: 'Manufacturing In Asia',
                to: "/services/manufacturing-in-asia",
            }
        ]
    },
    {
        id: 4,
        label: "Products",
        to: "",
        children: [
            {
                id: 41,
                label: 'Line Card',
                to: '/products/line-card'
            },
            {
                id: 42,
                label: 'Engineer Zone',
                to: '/products/engineer-zone'
            }, {
                id: 43,
                label: 'LED Products',
                to: '/products/led-products'
            }
        ]
    },
    {
        id: 5,
        label: "Quality",
        to: "",
        children: [
            {
                id: 51,
                label: 'Quality Assurance',
                to: '/quality/quality-assurance'
            },
            {
                id: 52,
                label: 'Inspection Process',
                to: '/quality/inspection-process'
            }, {
                id: 53,
                label: 'Lab testing',
                to: '/quality/lab-testing'
            }
        ]
    },
    {
        id: 6,
        label: "Contact",
        to: "/contact",
    },
];


// 移动端上菜单下拉展开hook
function useMenuCollapse() {
    const HBTN = "#hamburger-button"; // 展开icon
    const CBTN = "#close"; // 关闭icon
    const el = shallowRef<HTMLElement>();
    const icon = ref<string>(HBTN);
    let tween: gsap.core.Tween
    onMounted(() => {
        gsap.context((self) => {
            const selector = self.selector;
            if (selector) {
                const childMenus = selector(".ani-nav");
                tween = gsap.to(childMenus[0], { height: 'auto', duration: 0.5, ease: 'power1.inOut', paused: true });
            }
        }, el.value);
    });
    // 执行切换动画
    function executeAni() {
        // 展开动画
        if (icon.value === CBTN) {
            tween?.play();
        } else {
            tween?.reversed(true);
        }
    }
    // icon 切换
    const switchIcon = () => {
        icon.value = icon.value === HBTN ? CBTN : HBTN;
        executeAni();
    };
    return { switchIcon, icon, el }
}
const { switchIcon, icon, el } = useMenuCollapse()

</script>
  