<template>
    <li class="relative" @mouseenter.self="hoverAniEnter" @mouseleave="hoverAniLeave">
        <div :class="['menu-item-title', 'py-6', 'text-white', isChildrenMenu ? '' : 'under-line']">
            <NuxtLink :to="props.to">{{ props.title }}</NuxtLink>
        </div>
        <div v-if="isChildrenMenu" class="grid absolute menu-item-child">
            <span v-for="item of props.children" :key="item.id" class="under-line hover-ani p-2 mb-2">
                <NuxtLink :to="item.to">{{ item.label }}</NuxtLink>
            </span>
        </div>
    </li>
</template>
<script lang="ts" setup>
import { gsap } from 'gsap'
import { NuxtLinkProps } from "nuxt/dist/app/components";
import { computed, ref } from 'vue';
interface NavItem extends NuxtLinkProps {
    id: number;
    label: string;
    children?: NavItem[]
}
interface Prop {
    title: string,
    to: any,
    children?: NavItem[]
}
const props = defineProps<Prop>();
defineOptions({
    name: 'TheMenuItem'
})
const isChildrenMenu = computed(() => {
    return props?.children?.length
})
const expandChildren = ref<boolean>(false)
let subMenuTl: any
function hoverAniEnter(e: MouseEvent) {
    const { target } = e;
    if (isChildrenMenu.value && !expandChildren.value) { // 防止重复执行菜单动画
        // 子菜单动画
        const childDom = (target as HTMLElement)?.querySelector('.menu-item-child')
        subMenuTl = gsap.fromTo(childDom, {
            height: '0',
        }, {
            height: 'auto',
            duration: 0.4,
        })
        expandChildren.value = true;
    }
}
function hoverAniLeave() {
    subMenuTl && subMenuTl.reverse();
    expandChildren.value = false;
}
</script>
<style scoped>
.under-line {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow, yellow);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s;
}

.under-line:hover {
    background-size: 100% 2px;
}

.menu-item-title {
    font-size: 12px;
}

.menu-item-child {
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    background-color: rgba(0 0 0 / 56%);
}

a {
    color: white;
    cursor: pointer;
}
</style>
