<template>
    <section>
        <h-bg></h-bg>
        <!-- check the program -->
        <section>
            <div class="w-5xl ma py-12">
                <h2 class="font-500 text-5">Check the program</h2>
                <span class="text-1">Leading Global Full Service Distributor</span>
            </div>
            <section>
                <ul class="w-4xl ma pb-8">
                    <li v-for="item of list" :key="item.id" class="flex gap-8 mb-4 ">
                        <div class="box"></div>
                        <div class="flex justify-center flex-items-center">
                            <div class="split-circle"></div>
                        </div>
                        <div class="flex-1 px-4 py-6 shadow">
                            <h3 class="pb-2">{{ item.title }}</h3>
                            <p class="text-1">
                                {{ item.content }}
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</template>
<script setup lang="ts">
const list = [
    {
        id: 1,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    },
    {
        id: 2,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    }, {
        id: 3,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    }, {
        id: 4,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    }, {
        id: 5,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    }, {
        id: 6,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    }, {
        id: 7,
        title: 'Marking Permaeny',
        content: 'With The Efficiency Use Of State Of The Art X-Ray Testing, We Inspect The Internal Dye To Verify The Authenticity Of The Component. Hence, We Help To Ensure That All Components Are Original And Consistent With The Original Manufacturer Specifications.'
    },
]
</script>
<style scoped>
.box {
    height: 150px;
    width: 300px;
    background-color: #ccc;
}

.layout {
    grid-template-columns: repeat(2,1fr);
}

ul {
    padding-left: 0;
}

.split-circle {
    width: 30px;
    height: 30px;
    clip-path: circle();
    background-color: #008890;
}
</style>