<template>
    <header class="w-screen flex justify-between relative gsap-header">
        <!-- logo -->
        <section>
            LOGO
        </section>
        <!-- 菜单 -->
        <section>
            <h-menus></h-menus>
        </section>
    </header>
</template>
<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
gsap.registerPlugin(ScrollTrigger);
defineOptions({
    name: 'HHeader'
})

// 添加背景色
function useAnimation() {
    onMounted(() => {
        gsap.timeline({
            scrollTrigger: {
                start: "top - 300",
                end: 1000,
                scrub: true,
                // pin: true
            }
        })
            .to(".gsap-header", { backgroundColor: '#008890' })

    })
}
useAnimation();

</script>