<template>
    <footer class="h-xs bg-brand-primary">
        <div class="flex justify-between px-20 py-12">
            <div class="grid text-white gap-4">
                <span>LOGO</span>
                <span>Leading Global Full Service Distributor</span>
                <div class="flex gap-4">
                    <template v-for="item of leftLink" :key="item.id">
                        <a :href="item.href">
                            <svg class="iconpark-icon-footer">
                                <use :href="item.icon"></use>
                            </svg>
                        </a>
                    </template>
                </div>
            </div>
            <div>
                <div class="flex gap-4 text-white">
                    <span v-for="item of rightLink" :key="item.id">{{ item.label }}</span>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center text-white pt-4">© copyright 2023. </p>
    </footer>
</template>
<script setup>
defineOptions({
    name: 'HFooter'
})

// 左侧联系方式
const leftLink = [
    {
        id: 1,
        icon: '#instagram-one',
        href: ''
    },
    {
        id: 2,
        icon: '#google',
        href: ''
    },
    {
        id: 3,
        icon: '#twitter',
        href: ''
    },
    {
        id: 4,
        icon: '#facebook',
        href: ''
    },
    {
        id: 5,
        icon: '#tiktok',
        href: ''
    },
]
// 右侧联系方式
const rightLink = [
    {
        id: 1,
        label: 'Terms & Conditions ',
        href: ''
    },
    {
        id: 2,
        label: 'Anti-Counterfeit Policy ',
        href: ''
    }, {
        id: 3,
        label: 'Environmental Policy ',
        href: ''
    }, {
        id: 4,
        label: 'Privacy Policy',
        href: ''
    }
]

</script>
<style scoped>
a {
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50%);
    background-color: white;
}

.iconpark-icon-footer {
    height: 1rem;
    width: 1rem;
}
</style>