<template>
    <section id="the-swiper" class="swiper w-7xl">
        <div class="swiper-wrapper flex">
            <slot></slot>
        </div>
        <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
        <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
    </section>
</template>
<script setup lang="ts">
import { onMounted } from 'vue'
interface Props {
    parameters?: Object
}
const props = defineProps<Props>()
onMounted(() => {
    // eslint-disable-next-line no-undef
    const swiper = new Swiper('#the-swiper', {
        slidesPerView: 3,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
    });
    console.log(swiper)
})
</script>
<style scoped>
.swiper {
    height: 300px;
}
</style>