<template>
    <section class="h-button">
        <button>
            <slot>Submit</slot>
        </button>
    </section>
</template>
<script setup>
defineOptions({
    name: 'HButton'
})
</script>
<style scoped>

.h-button button {
    all:unset;
    background-color: #d6a279;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}

</style>