<template>
<div class="bg-f3 font-color">
    <section class="bg h-sm flex place-items-center place-content-center text-white text-center">

    </section>
    <section class="py-20 flex justify-center">
        <header>
            <h2 class="text-center">LINE CARD</h2>
            <span>ELECTRONIC COMPONENT MANUFACTURERS</span>
        </header>
    </section>
    <!-- 具体line-card -->
    <section class="flex justify-center py-10 bg-f3">
        <div class="flex gap-8">
            <div class="flex-1">
                <h3>PRODUCT LINES</h3>
                <div v-for="item of lines" :key="item.id" class=" mt-4 p-2 shadow">
                    <h4>{{ item.label }}</h4>
                    <ul>
                        <li v-for="citem of item.children" :key="citem.id">
                            <span>{{ citem.label }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-2 shadow">
                <ul class="grid grid-columns-3 gap-4 ">
                <li v-for="item of cards" :key="item.id">{{ item.label }}</li>
            </ul>
            </div>
        </div>
    </section>
</div>
</template>
<script lang="ts" setup>
interface lineItem {
    label: string
    id: number,
    children?: lineItem[]
}
const lines: lineItem[] = [
    {
        id: 1,
        label: 'ACTIVE COMPONENTS',
        children: [
            {
                id: 11,
                label: 'Discrete Semiconductors'
            },
            {
                id: 12,
                label: 'Memory Products (all components & modules)'
            },
            {
                id: 13,
                label: 'Microprocessors / CPU’s'
            }
        ]
    },
    {
        id: 2,
        label: 'PASSIVE COMPONENTS',
        children: [
            {
                id: 21,
                label: 'Capacitors '
            },
            {
                id: 22,
                label: 'Capacitors '
            },
            {
                id: 23,
                label: 'Capacitors'
            },
            {
                id: 24,
                label: 'Capacitors '
            },
            {
                id: 25,
                label: 'Capacitors '
            },
            {
                id: 26,
                label: 'Capacitors'
            }
        ]
    },
    {
        id: 3,
        label: 'COMPUTER PRODUCTS & PERIPHERALS',
        children: [
            {
                id: 21,
                label: 'CD-ROM Drives '
            },
            {
                id: 22,
                label: 'CD-ROM Drives '
            },
            {
                id: 23,
                label: 'CD-ROM Drives'
            },
            {
                id: 24,
                label: 'CD-ROM Drives '
            },
            {
                id: 25,
                label: 'CD-ROM Drives '
            },
            {
                id: 26,
                label: 'CD-ROM Drives'
            }
        ]
    }
]
const cards = Array.from({ length: 100 }).map((_, index) => {
    return { id: index, label: 'Hi-G HitachiHitachi' }
})
</script>
<style scoped>
.bg {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-f3 {
    background-color: #f3f3f3;
}

.font-color {
 color: #8d8b8b;
}

.grid-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

ul {
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    padding-left: 1rem;
}

li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    clip-path: circle(50%);
    transform: translateY(-50%) scale(0.6);
}
</style>