<template>
    <section>
        <!-- 简介 -->
        <HBg></HBg>
        <section>
            <div class="flex flex-justify-center my-12">
                <div class="flex flex-items-center gap-12 text-nowrap ">
                    <h3 class="text-8 font-500">Quality Assurance</h3>
                    <div class="flex flex-items-center px-12 shadow" style="height: 10rem;">
                        <div>
                            <h4 class="text-second mb-4 text-8 font-500">如何确保获得正确的芯片</h4>
                            <p class="text-2">我们提供充分证明的COC文件以及可追溯文件(包括来源，ROHS,Reach,供应商声明)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-justify-between flex-items-center w-4xl ma">
                <div class="circle">
                    circle
                </div>
                <section class="w-md">
                    <h3 class="text-second mb-4 text-6 font-500">如何降低风险</h3>
                    <ul>
                        <li v-for="item of list" :key="item.id" class=" relative sequence mb-4">
                            <h4 class="mb-2">{{ item.title }}</h4>
                            <p>{{ item.content }}</p>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        <section class="py-12">
            <div class="w-sm ma text-center">
                <div class="relative"><h3 class="tip text-second font-500 text-6">质量保证</h3></div>
                <p class="my-8">
                    所有的出货365天保质期所有的出货365天保质期所有的出货
                    365天保质期所有的出货365天保质期所有的出货365天保质期所有的出
                    货365天保质期所有的出货365天保质期所有的出货365天保质期所有的出货
                </p>
                 <button class="read-more font-500">READ MORE</button>
            </div>
        </section>
    </section>
</template>
<script setup lang="ts">
interface listItem {
    id: number;
    title: string;
    content: string;
}
const list: listItem[] = [
    {
        id: 1,
        title: '供应链管理',
        content: '我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试'
    },
    {
        id: 2,
        title: '我们根据AS6081以及客户需求标准进行实际测试',
        content: '我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试'
    },
    {
        id: 3,
        title: '测试',
        content: '我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试我们根据AS6081以及客户需求标准进行实际测试'
    }
]
</script>
<style scoped>
.bg {  
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    padding: 0;
    counter-reset: seq;
}

.circle {
    width: 200px;
    height: 200px;
    clip-path: circle();
    background-color: #008890;
}

.sequence::before {
    counter-increment: seq;
    content: '0' counter(seq);
    position: absolute;
    display: block;
    background-color: #008890;
    left: 0;
    top: 50%;
    transform: translate(-150%, -50%);
    height: 36px;
    width: 36px;
    clip-path: circle();
    text-align: center;
    line-height: 36px;
    color: white;
}

.read-more {
    all: unset;
    background-color: #fdb078;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
}

.tip::before {
    content: '';
    display: block;
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: #ccc;
    top: 50%;
}

.tip::after {
    content: '';
    display: block;
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: #ccc;
    top: 50%;
    right: 0;
}

</style>