<template>
    <section>
        <!-- 简介 -->
        <section class="images h-sm flex place-items-center place-content-center text-white text-center">
            <div>
                <h2>About</h2>
                <p>An independent solution provider</p>
            </div>
        </section>
        <!-- 简介-->
        <section class="brief flex flex-justify-center mt-12 mb-12">
            <article class="w-sm p12 md:w-xl lg:w-6xl">
                <header class="flex flex-row-reverse">
                    <div class="w-sm">
                        <h2 class="pb-2 text-second font-500">WHO WE ARE</h2>
                        <div class="text-2 text-four">
                            <p>
                                We are driven by one thing, and one thing only –
                            </p>
                            <p>adding value to our customers.</p>
                        </div>
                    </div>
                </header>
                <section class="brief-content pt-4 text-four">
                    <div>
                        <p class="pb-4">
                            Actstone Electronics Co.,Limited<br/>
                            Professional electronic component value-added service provider for more than 10 years
                        </p>

                        <p class="pb-4">
                            Established in 2011, Actstone Electronics Co., Ltd. is a value-added service provider of
                            electronic
                            components integrating distribution, agency, inventory and technical solutions. Headquartered in
                            HuaQiang, Shenzhen, with offices in Hong Kong, also.
                        </p>

                        <p class="pb-4">
                            Annual revenue came up to $20 M in 2022, it's a “small and beautiful “ company in China
                        </p>

                        <p class="pb-4">
                            our 10 professionals are on duty 24/7, providing high-quality and cost-effective products from
                            over
                            500
                            suppliers worldwide to more than 200 global partners with quick response.
                        </p>

                        <p>
                            With a anti-static storage warehouse and cooperate with independent third-party testing company
                            ,
                            to incorporate supplier suppliers dynamical management, warehousing management,quality testing,
                            and
                            after-sales service standards into strict control processes , ensuring that every chip provided
                            to
                            customers is 100% qualified.
                            Our business mainly covers industrial control, medical equipment, power electronics,
                            communication
                            networks, automotive electronics, new energy, etc. Our trading clients cover a wide range of
                            fields
                            and
                            have strategic cooperation with many well-known domestic enterprises.
                            We look forward to working with more upstream and downstream partners to work together for
                            win-win
                            results and contribute our own strength to the development of China's electronics industry.
                        </p>
                    </div>
                </section>
            </article>
        </section>
        <!-- 时间线 -->
        <section class="timeline flex flex-justify-center mb-12">
            <div class="line pb-12 w-sm md:w-xl lg:w-6xl">
                <template v-for="item of timelineList" :key="item.id">
                    <div class="flex flex-justify-center pt-8">
                        <span>{{ item.date }}</span>
                        <div class="circle mx"></div>
                        <span>{{ item.event }}</span>
                    </div>
                </template>
            </div>
        </section>
        <!-- 团队成员 -->
        <section class="team flex flex-justify-center mb-12">
            <div>
                <h2 class="text-center pb-12">Our Team</h2>
                <section
                    class="flex flex-justify-center flex-items-center flex-col lg:flex-row gap-8  pb-12 w-sm md:w-xl lg:w-6xl">
                    <template v-for="item of teams" :key="item.id">
                        <div class="text-center">
                            <div class="team-avatar">
                                <img :src="item.avatar" alt="avatar">
                            </div>
                            <div class="py-2">{{ item.name }}</div>
                            <div>{{ item.post }}</div>
                        </div>
                    </template>
                </section>
                <div class="text-center pb-12 line">
                    <button class="contact">Contact Us</button>
                </div>
            </div>
        </section>
        <!-- reputation -->
        <section class="reputation flex flex-justify-center mb-12">
            <div class="line pb-12">
                <h2 class="text-center pb-12">Reputation</h2>
                <TheSwiperForReputation>
                    <template v-for="item of reputations" :key="item.id">
                        <div class="swiper-slide c-s-line text-center">
                            <img :src="item.src" alt="" style="width: 200px;height: 300px">
                        </div>
                    </template>
                </TheSwiperForReputation>
            </div>
        </section>
        <!-- reputation -->
        <section class="reputation flex flex-justify-center mb-12">
            <div>
                <h2 class="text-center pb-12">Partners</h2>
                <TheSwiperForReputation style="height: 100px">
                    <template v-for="item of reputations" :key="item.id">
                        <div class="swiper-slide c-s-line text-center">
                            <img :src="item.src" alt="" style="width: 300px;height: 100px">
                        </div>
                    </template>
                </TheSwiperForReputation>
            </div>
        </section>
    </section>
</template>
<script setup lang="ts">
interface TimeLineItem {
    id: number;
    date: string;
    event: string; // 事件
}
interface TeamInfoItem {
    id: number;
    avatar: string;
    name: string;
    post: string; // 岗位
}
interface ReputationItem {
    id: number;
    src: string
}
const timelineList: TimeLineItem[] = [
    {
        id: 1,
        date: '2013',
        event: '公司创立'
    },
    {
        id: 2,
        date: '2014',
        event: '公司创立'
    },
    {
        id: 3,
        date: '2015',
        event: '公司创立'
    },
    {
        id: 4,
        date: '2015',
        event: '公司创立'
    },
    {
        id: 5,
        date: '2015',
        event: '公司创立'
    }
]
const teams: TeamInfoItem[] = [
    {
        id: 1,
        avatar: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
        name: 'Jhon Doe',
        post: 'CEO'
    },
    {
        id: 2,
        avatar: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
        name: 'Jhon Doe',
        post: 'CEO'
    }, {
        id: 3,
        avatar: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
        name: 'Jhon Doe',
        post: 'CEO'
    }, {
        id: 4,
        avatar: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
        name: 'Jhon Doe',
        post: 'CEO'
    }
]
const reputations: ReputationItem[] = [
    {
        id: 1,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 2,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 3,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 4,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 5,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    },
    {
        id: 6,
        src: 'https://i0.hippopx.com/photos/683/318/324/wolf-wolves-snow-wolf-landscape-preview.jpg',
    }
]
</script>
<style scoped>
.images {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* 简介 */
.brief {
    box-shadow: 1px 1px 8px #ccc;
}

.brief-content {
    line-height: 1.5em;
}

.brief-content span {
    display: inline-block;
}

/* 时间线 */
.circle {
    position: relative;
    height: 1rem;
    width: 1em;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.circle::before {
    content: '';
    display: block;
    position: absolute;
    height: calc(100% + 1.2rem);
    width: 1px;
    background-color: #ccc;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.timeline>div:first-of-type .circle {
    border-color: rgb(0 68 72);
}

.timeline>div:last-of-type .circle {
    margin-bottom: 2rem;
}

.timeline>div:last-of-type .circle::after {
    content: '';
    display: block;
    position: absolute;
    height: calc(100% + 1rem);
    width: 1px;
    background-color: #ccc;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    box-shadow: 0 1px 0 #ccc;
}

.team-avatar {
    width: 8rem;
    height: 8rem;
    clip-path: circle();
}

.team-avatar img {
    height: 100%;
    width: 100%;
}

.contact {
    all: unset;
    padding: 1rem 2rem;
    background-color: teal;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
</style>