<template>
    <section>
        <!-- 简介 -->
        <section class="bg h-sm flex place-items-center place-content-center text-white text-center">
            <div>
                <h2 class="text-second">Manufacturing In Asia</h2>
                <div class="btn mt">a top distributor specializing in the electronics components industry</div>
            </div>
        </section>
        <!-- 内容 -->
        <section>
            <article class="mx-24">
                <h3 class="py-8">Manufacturing In Asia</h3>
                <div class="image m-6">
                    <img src="" alt="">
                </div>
                <p class="pb-4">Want to manufacturer your product in Asia but not sure where to begin? ACTSTONE can help. We
                    are an
                    independent product sourcing and consulting company that offers end-to-end import assistance to source,
                    negotiate, and facilitate delivery of products from China. Our members have worked with many contract
                    manufacturers throughout Asia and have developed strong relationship with many manufacturers. We can
                    walk
                    you through the process and will represent your company here. We will be the extension of your company
                    and
                    see through that process and quality are maintained and followed. ACTSTONE will eliminate delays,
                    communications barrier and the hassle of dealing of unknown agent. Our talented and experienced teams
                    are
                    ready to be your trusted partner in China.</p>
                <p class="pb-4">Inspection service provided on all products and imports from China: <span>Production
                        Monitoring (PM)</span>
                </p>
                <p>
                    Constant oversight in your factory with daily reports on quality and production status
                    Initial Production Check (IPC)
                    Inspection of machinery, materials and accessories to be used for your order prior to production
                    During Production Check (DUPRO) / During Production Inspection (DPI)
                    Control and recommendations for production processes and capacity; this inspection is made when at
                    least 20
                    % of your production is completed. The inspector checks workmanship quality, raw materials, product
                    appearance, weight check, size measurements, functionality assortment, accessories, labeling & logos,
                    packaging, packing and other special requirements depending on the product specifications and the export
                    market. The unfinished products and the compliance with the initial planning of production are also
                    verified.
                    Pre-Shipment Inspection (PSI) / Final Random Inspection (FRI)
                    This inspection, the most important, guarantees the conformity of production to your specifications and
                    international standards. The pre-shipment inspection takes place when 100% of the production is finished
                    and
                    packed. The inspector checks on-site the completed products, the packaging and the packing by sampling
                    according to the method AQL and your requirements.
                    Container Loading Check (CLC) / Container Loading Supervision (CLI)
                    Guarantee the finished and packed goods meet your specifications (product type and quantity) and are
                    securely loaded for shipment.
                    Factory Inspections / Factory Audit
                    Comprehensive assessment of the production facilities and organization according to ISO 9000 standards.
                    The factory Inspection confirms that your factory has the production capacity, technical know-how and
                    quality to meet your production requirements.
                </p>
                <address class="grid py-4">
                    <span>Our Competitive Edge</span>
                    <span>Well trained Staffs</span>
                    <span>Efficient in Purchasing</span>
                    <span>High Quality Production</span>
                    <span>Flexible / Accommodation</span>
                    <span>Cost Saving</span>
                    <span>Fast in Shipping</span>
                    <span>Experienced </span>
                </address>
                <div class="pb-6">
                    <button class="ct">Contact Us</button>
                </div>
            </article>
        </section>
    </section>
</template>
<style scoped>
.bg {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    width: 20rem;
    height: 20rem;
    float: right;
    background-color: white;
}

.ct {
    all: unset;
    padding: 4px 8px;
    background-color: #4c4c4c;
    color: white;
}
</style>