<template>
    <section>
        <theSearch></theSearch>
        <!-- actstone service -->
        <section>
            <div class="text-center pt-12 pb-12">
                <h2 class="text-primary">Actstone Service</h2>
                <p class="w-sm lg:w-2xl custom-m text-four">
                    We help you find that shortage or long term need electronic component,
                    with more competitive price from our well-established network of
                    suppliers and the items we have in our stock.
                </p>
            </div>
            <div class="flex flex-col gap-4 ma w-md pb-12 lg:flex-row lg:w-5xl xl:w-7xl lg:ma">
                <div v-for="item of asList" :key="item.id" class="flex-1">
                    <div class="flex flex-items-center gap-2">
                        <svg class="iconpark-icon">
                            <use :href="item.icon"></use>
                        </svg>
                        <h3 class="font-400">{{ item.title }}</h3>
                    </div>
                    <p class="text-four">{{ item.content }}</p>
                    <div class="text-second">VIEW MORE</div>
                </div>
            </div>
        </section>
        <!-- who we Are -->
        <section class="wwa flow-root">
            <div class="text-center mt-12 mb-12">
                <h2>Who We Are</h2>
                <p class="w-sm lg:w-2xl custom-m">
                    We help you find that shortage or long term need electronic component,
                    with more competitive price from our well-established network of
                    suppliers and the items we have in our stock.
                </p>
            </div>
            <div class="grid grid-justify-center wwa-default ma pb-12" style="column-gap: 4rem; row-gap: 2rem;">
                <div v-for="item of waList" :key="item.id" class="flex flex-items-center  ma gap-4">
                    <svg class="iconpark-icon">
                        <use :href="item.icon"></use>
                    </svg>
                    <span class="text-nowrap text-d8" style="width: 200px;">{{ item.title }}</span>
                    <meter max="100" :value="item.rate" style="width: 10rem;"> {{ item.rate }}% </meter>
                    <label class="text-d8">{{ item.rate }}%</label>
                </div>
            </div>
        </section>
        <!-- Our Misson -->
        <theOurMission></theOurMission>
        <!-- Quality Guarantee -->
        <section class="bg-brand-primary">
            <div class="qg-text h-sm">
                <div class="w-2xl ma pt-6 ">
                    <h2 class="underline underline-offset-10">Quality Guarantee</h2>
                    <p>All items that enter and leave our hubs are checked and controlled under PRO-STD-001 &
                        IDEA-STD-1010-B inspection procedures. Our Quality Control staff are regularly taking part in
                        activities to develop and fine-tune their skills, as well as keeping their certifications up to date
                        with external education programs.</p>
                    <p>To maintain a high level of integrity and trust in all business transactions, extensive testing is
                        performed by our third-party test facilities in the US, China, and Malaysia. All our partners are
                        certified by strict standards within the military, aerospace, and medical industries.</p>
                    <p>J2 Sourcing is committed to contributing to the UN Global Sustainability Goals. We have extensive
                        programs in place for Excess Material, hazardous waste, and the disposal of chemicals.</p>
                    <div class="text-second">VIEW MORE</div>
                </div>
            </div>
            <div class=" flex flex-col lg:flex-row gap-8 lg:w-5xl xl:w-7xl ma p10">
                <div v-for="item of qgList" :key="item.id" class="flex-1">
                    <div class="pb-4">
                        <div class="bg-white flex flex-justify-center flex-items-center ma"
                            style="height: 4rem; width: 4rem;clip-path: circle(50%);">
                            <svg class="iconpark-icon-qg text-primary">
                                <use :href="item.icon"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 class="text-white text-center font-thin text-2">{{ item.title }}</h3>
                </div>
            </div>
        </section>
        <div class="text-center text-second p-4" style="background-color: #474747;">Industry NewsInsight Talks</div>
        <section>
            <div class="flex flex-col lg:flex-row gap-8 p10">
                <div v-for="item of newList" :key="item.id" class="flex">
                    <div class="flex-1">
                        <img :src="item.src" alt="">
                    </div>
                    <div class="flex-1 p4" style="background-color: #ededed;">
                        <h2 class="text" style="font-size: 14px;">{{ item.title }}</h2>
                        <p class="text-3">
                            {{ item.content }}
                        </p>
                        <div class="text-second">VIEW MORE</div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>
<script setup lang="ts">
import theSearch from './theSearch.vue';
import theOurMission from './theOurMission.vue';
import new1 from '@/assets/home/new1.png'
import new2 from '@/assets/home/new2.png'
import new3 from '@/assets/home/new3.png'
interface ASItem {
    id: number;
    icon: string;
    title: string;
    content: string;
    link: string;
}
interface WAItem {
    id: number;
    icon: string;
    title: string;
    rate: string;
}
interface OMItem {
    id: number;
    title: string;
    content: string;
    link: string;
}
interface NewItem {
    id: number;
    title: string;
    content: string;
    link: string;
    src: string;
}
interface QGItem {
    id: number;
    icon: string;
    title: string;
}
const asList: ASItem[] = [
    {
        id: 1,
        icon: "#earth",
        title: "Components sourcing",
        content:
            "Relieve sourcing pressure by safely and reliably securing hard-to-find, obsolete or component shortages quickly",
        link: "www.baidu.com",
    },
    {
        id: 2,
        icon: "#building-three",
        title: "Inventory Management",
        content: `Thousounds of electronic components stock in warehouse that are ready to ship Directly to you at a moment's notice. We regard spot inventory as our strategic asset rather than a liability and are not afraid to take risks`,
        link: "www.baidu.com",
    },
    {
        id: 3,
        icon: "#tool-9n72ghm0",
        title: "Manufacturing In Asia",
        content: `Want to manufacturer your product in Asia .We are an independent product sourcing and consulting company that offers end-to-end import assistance to source, negotiate, and facilitate delivery of products from China.`,
        link: "www.baidu.com",
    },
];
const waList: WAItem[] = [
    {
        id: 1,
        icon: "#car",
        title: "Automotive",
        rate: "19",
    },
    {
        id: 2,
        icon: "#radar-three",
        title: "Telecommunications",
        rate: "87",
    },
    {
        id: 3,
        icon: "#battery-full",
        title: "Energy and Agriculture",
        rate: "19",
    },
    {
        id: 4,
        icon: "#tool",
        title: "Industrial Automation",
        rate: "19",
    },
    {
        id: 5,
        icon: "#airplane",
        title: "Aerospace and Defence",
        rate: "19",
    },
    {
        id: 6,
        icon: "#love-and-help",
        title: "Medical",
        rate: "19",
    },
];
const omList: OMItem[] = [
    {
        id: 1,
        title: 'Our Misson',
        content: `Become an excellent component value-added service provider`,
        link: ''
    },
    {
        id: 2,
        title: 'Our Misson',
        content: `Focus on the electronic information industry and strive to creat sustainable value for customers`,
        link: ''
    },
    {
        id: 3,
        title: 'Our Misson',
        content: `People-oriented, customer achievement, honesty and integrity, gratitude and loyalty, create a win-win situation, and pursue excellence`,
        link: ''
    },
]
const qgList: QGItem[] = [
    {
        id: 1,
        icon: '#family',
        title: 'YEARS OF EXPERIENCE'
    }, {
        id: 2,
        icon: '#english',
        title: 'NUMBER OF CUSTOMERS'
    },
    {
        id: 3,
        icon: '#calendar-thirty-two',
        title: 'SUPPORTED LANGUAGES'
    },
    {
        id: 4,
        icon: '#local',
        title: 'ACTIVE IN COUNTRIES'
    },
]
const newList: NewItem[] = [
    {
        id: 1,
        title: '热门新闻',
        src: new1,
        content: '热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻',
        link: ''
    },
    {
        id: 2,
        title: '热门新闻',
        src: new2,
        content: '热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻',
        link: ''
    },
    {
        id: 3,
        title: '热门新闻',
        src: new3,
        content: '热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻热门新闻',
        link: ''
    }
]
</script>
<style scoped>
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-m {
    margin: 1rem auto;
}

p {
    margin: 1rem 0;
}

.iconfont-size {
    font-size: 28px;
}

.iconpark-icon-qg {
    height: 3rem;
    width: 3rem;
}

.wwa {
    background-color: black;
    color: white;

}

.qg-text {
    position: relative;
    background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('@/assets/home/qg.png');
    color: white;
}

.qg-text::after {
    /* content: " ";
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 0 0 / 50%); */
}

@media (width >=1024px) {
    .wwa-default {
        grid-template-columns: repeat(2, auto);
    }
}
</style>
