<template>
    <section class="mx-12">
        <div class="text-center mt-12 mb-12">
            <h2 class="text-primary">Our Misson</h2>
            <p class="w-md my-2 ma text-left text-th font-12">Focus on the electronic information industry and strive to
                creat sustainable value for
                customers</p>
        </div>
        <div id="st" ref="el" class="flex flex-col lg:flex-row gap-8 pb-12 lg:w-6xl ma">
            <div v-for="item of omList" :key="item.id" class="box">
                <div>
                    <img src="@/assets/home/home.png" alt="" srcset="">
                </div>
                <div class="p-8 bg-d5">
                    <h3 class="text-primary">{{ item.title }}</h3>
                    <p class="my-4">{{ item.content }}</p>
                    <div class="text-second">VIEW MORE</div>
                </div>
            </div>
        </div>
    </section>
</template>
<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
gsap.registerPlugin(ScrollTrigger);
interface OMItem {
    id: number;
    title: string;
    content: string;
    link: string;
}
const omList: OMItem[] = [
    {
        id: 1,
        title: 'Our Misson',
        content: `Become an excellent component value-added service provider`,
        link: ''
    },
    {
        id: 2,
        title: 'Our Misson',
        content: `Focus on the electronic information industry and strive to creat sustainable value for customers`,
        link: ''
    },
    {
        id: 3,
        title: 'Our Misson',
        content: `People-oriented, customer achievement, honesty and integrity, gratitude and loyalty, create a win-win situation, and pursue excellence`,
        link: ''
    },
]

// 动画
function useAnimation() {
    const el = ref<HTMLElement>();
    onMounted(() => {
        gsap.context((ctx) => {
            const selector = ctx.selector
            if (selector) {
                const boxs = selector('.box')
                const gtl = gsap.timeline({
                    scrollTrigger: {
                        trigger: "#st",
                    }
                });
                boxs.forEach((box: gsap.TweenTarget, index: number) => {
                    gtl.from(box, {
                        duration: 1,
                        x: -100,
                        opacity: 0
                    })
                });
            }

        }, el.value)
    })
    return { el }
}
const { el } = useAnimation();
</script>
<style scoped>
.bg-d5 {
    background-color: #d5d5d5;
    height: 9rem;
}
</style>