<template>
    <div class="flex flex-items-center justify-center h-2xl bg">
        <div class="grid gap-2 w-sm text-center">
             <ClientOnly> <HAutocomplete></HAutocomplete></ClientOnly>
             <span class="text-second">Electronic Component Distributor</span>
        </div>
    </div>
</template>
<style scoped>
.bg {
    background-image:linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url('@/assets/home/home.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    all: unset;
    background-color: rgb(255 255 255 / 39%);
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
}

.search::placeholder {
    font-size: 12px;
    text-align: center;
    color: #fafafa;
}
</style>