<template>
    <section>
        <header class=" h-sm bg flex justify-center items-center text-center">
            <div>
                <h2 class="text-white">Quality Assurance</h2>
                <span class="text-second">An independent solution provider</span>
            </div>
        </header>
        <section class="py-8 flex justify-center">
            <h3 class="w-6xl">Inspection Process</h3>
        </section>
        <section class="flex justify-center">
            <div>
                <div v-for="(item, index) in insProList" :key="index" class="flex gap-8 mb-12">
                    <div v-for="citem of item" :key="citem.id">
                        <!-- 图片 -->
                        <!-- 内容 -->
                        <component :is="componentsMap[citem.type]" v-bind="citem"></component>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>
<script setup lang="ts">
import theImage from './theImage.vue'
import theContent from './theContent.vue'
const componentsMap = {
    image: theImage,
    content: theContent
}
interface ContentItem {
    id: number;
    content: string;
}
interface BaseItem {
    id: number;
    type: string;
}
interface InsProItem extends BaseItem {
    title: string;
    sub: string; // 副标题
    list: ContentItem[]
}
interface InsProImage extends BaseItem {
    src: string;
}
type insProListItem = InsProItem | InsProImage

const insProList: insProListItem[][] = [
    [
        { id: 1, src: '', type: 'image' },
        {
            id: 2,
            title: 'Incoming inspection',
            type: 'content',
            sub: `Once the parts are through the initial inspection, they begin their official visual inspection. These steps for verifying packaging include:`,
            list: [
                {
                    id: 21,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 22,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 23,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                }
            ]
        }
    ],
    [
        {
            id: 3,
            src: '',
            type: 'content',
            title: 'Incoming material appearance inspection',
            sub: `Once the parts are through the initial inspection, they begin their official visual inspection. These steps for verifying packaging include:`,
            list: [
                {
                    id: 31,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 32,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 33,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                }, {
                    id: 34,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 35,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 36,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                }
            ]
        },
        {
            id: 4,
            src: '',
            type: 'image'
        }
    ],
    [
        { id: 5, src: '', type: 'image' },
        {
            id: 6,
            src: '',
            type: 'content',
            title: 'Material Removal Inspection',
            sub: `Once the parts are through the initial inspection, they begin their official visual inspection. These steps for verifying packaging include:`,
            list: [
                {
                    id: 61,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 62,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 63,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                }, {
                    id: 64,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 65,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                },
                {
                    id: 66,
                    content: 'Ensure Date Code on packaging or parts matches datfor grammatical errors.'
                }
            ]
        }
    ]
]
</script>

<style scoped>
.bg {
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>