<template>
    <div class="w-xl">
        <h3>{{ props.title }}</h3>
        <p class="py-3 text-2">{{ props.sub }}</p>
        <ul class="text-2">
            <li v-for="item of props.list" :key="item.id" class="mt-2">
                {{ item.content }}
            </li>
        </ul>
    </div>
</template>
<script lang="ts" setup>
interface ContentItem {
    id: number;
    content: string;
}
interface Prop {
    title: string;
    sub: string; // 副标题
    list: ContentItem[]
}

const props = defineProps<Prop>()



</script>
<style scoped>
ul {
    padding: 1rem 2rem;
    border-radius: 2px;
    box-shadow: 2px 2px 6px #ccc;
}

li {
    position: relative;
    list-style: none;
    padding-left: 1rem;
}

li::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ff7e00;
    clip-path: circle(50%);
    transform: translateY(-50%) scale(0.6);
}
</style>