<template>
    <div class="images">
        <img src="" alt="">
    </div>
</template>
<style scoped>
.images {
    height: 15rem;
    background-color: #939393;
    width: 25rem;
    box-shadow: 1px 1px 2px #ccc;
}
</style>