<template>
    <section>
        <div class="flex h-input">
            <input type="text" :placeholder="props.placeholder" />
            <span class="suffix  flex flex-items-center flex-justify-center">
                <slot name="suffix">
                    <svg class="suffix-icon">
                        <use href="#search"></use>
                    </svg>
                </slot>
            </span>
        </div>
    </section>
</template>
<script setup lang="ts">
const props = defineProps({
    placeholder: {
        type: String,
        default: 'Search our stock'
    }
})
defineOptions({
    name: 'HInput'
})
</script>
<style scoped>
input {
    all: unset;
    flex: 1;
    line-height: 3rem;
    text-align: left;
    padding-left: 1rem;
}

input::placeholder {
    color: #666;
}

.h-input {
    background: #d8d8d8;
    border-radius: 6px;
}

.suffix {
    padding-right: 1rem;
}

.suffix-icon {
    height: 2rem;
    width: 2rem;
    color: #999;
}
</style>