<template>
         <!-- 简介 -->
         <section class="bg h-sm flex place-items-center place-content-center text-white text-center">
            <div>
                <h2>Counterfeit avoidance</h2>
                <p class="btn text-second mt">An independent solution provider</p>
            </div>
        </section>
</template>
<script setup>
defineOptions({
    name: 'HBg'
})
</script>
<style scoped>
.bg {  
    background-image: url('@/assets/about/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>