<template>
    <a-select
      v-model:value="value"
      show-search
      placeholder="请输入搜索内容名称"
      :default-active-first-option="false"
      style="color: white;"
      :show-arrow="false"
      :filter-option="false"
      :not-found-content="null"
      :options="data"
      size="large"
      @search="handleSearch"
      @change="handleChange"
    >
    </a-select>
</template>
  <script lang="ts" setup>
  import { ref } from 'vue';
  
  let timeout: any;
  let currentValue = '';
  
  function fetch(value: string, callback: any) {
    if (timeout) {
      clearTimeout(timeout);
      timeout = null;
    }
    currentValue = value;
  
    function fake() {
      const str = JSON.stringify({
        code: 'utf-8',
        q: value,
      });
      $fetch('https://mock.apifox.cn/m1/3096597-0-default/products').then(res => {
         callback(res?.data.list);
      })
    }
  
    timeout = setTimeout(fake, 300);
  }
  
  const data = ref<any[]>([]);
  const value = ref();
  
  const handleSearch = (val: string) => {
    fetch(val, (d: any[]) => (data.value = d));
  };
  const handleChange = (val: string) => {
    console.log(val);
    value.value = val;
    fetch(val, (d: any[]) => (data.value = d));
  };
  </script>
<style>
.ant-select-selector {
    background-color: #8994a175!important;
    color: white;
    border: none !important;
}

.ant-select-selection-item {
    color: white;
}

.ant-select-selection-search-input {
    color: white!important;

}

.ant-select-selection-placeholder {
    color: white!important;
    font-size: 12px;
}
</style>
  
  